.starsSection {
        height: 60vh;
    background: rgb(34,34,34);
    POSITION: RELATIVE;
    /* background: rgb(32,41,51);
    background: linear-gradient(180deg, rgba(32,41,51,1) 35%, rgba(32,41,51,1) 68%, rgba(34,34,34,1) 100%); */
background: #162942;
    background: linear-gradient(180deg, rgba(22, 41, 66, 1) 0%, rgba(34, 34, 34, 1) 79%);
}

.biosection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    z-index: 30;
    position: relative;
}

.bio {
    margin: 13vh;
    padding: 4vh;
    width: 600px;
    height: 225px;
    color: white;
    /* text-align: center;
    display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(3px);
    border-top: 1px solid rgba(77, 104, 138, 0.4);
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.089);

}
.title{
    font-size: 50px;
}
.leftbio, .rightbio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image {
    width: 150px; /* Set the width of the image */
    height: 150px; /* Set the height of the image */
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Hides any overflow outside the circle */
    border: 2px solid #ccc; /* Add a border if needed */
}

.bg-animation {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    z-index: 1;
}